<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand text-primary" href="#">Aphrie Task</a>
            <button class="navbar-toggler" id="togglerBtn" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about-us">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#team">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact-us">Contact Us</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>
    <section id="home" class="block d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6 home-caption">
                    <h1>We provide <span>solutions</span> for your business!</h1>
                    <div class="btns mt-5">
                        <a name="" id="" class="btn btn-primary" href="#" role="button">Get Started</a> 
                        <a name="" id="" class="btn btn-outline-light" href="#" role="button">Our Services</a>  
                    </div>
                </div>
                <div class="col-md-6 home-img">
                    <img src="./assets/images/intro-img.svg" class="img-fluid" alt="plans svg"/>
                </div>
            </div>
        </div>
        <a href="#" class="back-to-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </section>
</header>
<section id="about-us" class="block mt-5">
    <div class="container">
        <div class="about-head m-auto text-center">
            <h3 class="mb-4">About Us</h3>
            <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores amet dolores repellendus veniam distinctio.</p>
        </div>
        <div class="row mt-5 align-items-center">
            <div class="col-md-6 about-caption">
                <p class="lead">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis voluptatibus, quas ipsam recusandae nesciunt minima, modi quis corrupti dolorum minus distinctio error. Quasi alias excepturi libero quae expedita nam aperiam cumque porro voluptas saepe rem, culpa consequuntur odio dolores nostrum.
                </p>
                <ul class="pl-0">
                    <li class="d-flex"> 
                        <div class="mr-3 pt-2"> 
                            <i class="fas fa-briefcase"></i>
                        </div> 
                        <div>
                            <h4>Eiusmod Tempor</h4>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit possimus praesentium repellat quaerat.</p>
                        </div>
                    </li>
                    <li class="d-flex"> 
                        <div class="mr-3 pt-2">
                            <i class="far fa-image"></i>
                        </div> 
                        <div>
                            <h4>Magni Dolores</h4>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit possimus praesentium repellat quaerat.</p>
                        </div>
                    </li>
                    <li class="d-flex"> 
                        <div class="mr-3 pt-2"> 
                            <i class="far fa-chart-bar"></i>
                        </div> 
                        <div>
                            <h4>Dolor Sitema</h4>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit possimus praesentium repellat quaerat.</p>
                        </div>
                    </li>
                  </ul>
            </div>
            <div class="col-md-6 about-img">
                <img src="./assets/images/about-img.svg" class="img-fluid" alt="teamwork"/>
            </div>
        </div>
        <div class="row my-5 align-items-center">
            <div class="col-md-6">
                <img src="./assets/images/about-extra-1.svg" class="img-fluid" alt="work"/>
            </div>
            <div class="col-md-6">
                <p class="bolded-p">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
                <p class="normal-p my-3">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo recusandae neque sit necessitatibus at dolorem laboriosam id impedit sunt accusantium vel facilis harum, sed quae, tempore enim dolores animi sapiente.
                </p>
                <p class="normal-p">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo recusandae neque sit necessitatibus at dolorem laboriosam id impedit sunt accusantium vel facilis harum, sed quae, tempore enim dolores animi sapiente.
                </p>
            </div>
        </div>
        <div class="row my-5 align-items-center">
            <div class="col-md-6 about-caption">
                <p class="bolded-p">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
                <p class="normal-p my-3">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo recusandae neque sit necessitatibus at dolorem laboriosam id impedit sunt accusantium vel facilis harum, sed quae, tempore enim dolores animi sapiente.
                </p>
                <p class="normal-p">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo recusandae neque sit necessitatibus at dolorem laboriosam id impedit sunt accusantium vel facilis harum, sed quae, tempore enim dolores animi sapiente.
                </p>
                <p class="normal-p">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo recusandae neque sit necessitatibus at dolorem laboriosam id impedit sunt accusantium vel facilis harum, sed quae, tempore enim dolores animi sapiente.
                </p>
            </div>
            <div class="col-md-6 about-img">
                <img src="./assets/images/about-extra-2.svg" class="img-fluid" alt="work plan"/>
            </div>
        </div>
    </div>
    
    <div class="choose-us mb-5">
        <div class="container">
            <div class="m-auto text-center">
                <h3 class="mb-4">Why choose us?</h3>
                <p class="lead mb-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores amet dolores repellendus veniam distinctio nulla quisquam.</p>
            </div>
            <div class="row my-5">
                <div class="col-md-4">
                    <div class="item">
                        <i class="far fa-gem"></i>
                        <h4>Corporis dolorem</h4>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis explicabo perspiciatis fugiat voluptates excepturi quia adipisci labore impedit, dolores velit.</p>
                        <h5>Read more</h5>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <i class="fab fa-accusoft"></i>
                        <h4>Corporis dolorem</h4>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis explicabo perspiciatis fugiat voluptates excepturi quia adipisci labore impedit, dolores velit.</p>
                        <h5>Read more</h5>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <i class="fas fa-vector-square"></i>
                        <h4>Corporis dolorem</h4>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis explicabo perspiciatis fugiat voluptates excepturi quia adipisci labore impedit, dolores velit.</p>
                        <h5>Read more</h5>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="records col-md-3">
                    <h4>274</h4>
                    <p>Clients</p>
                </div>
                <div class="records col-md-3">
                    <h4>421</h4>
                    <p>Projects</p>
                </div>
                <div class="records col-md-3">
                    <h4>1,364</h4>
                    <p>Hours Of Support</p>
                </div>
                <div class="records col-md-3">
                    <h4>18</h4>
                    <p>Hard Workers</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="portfolio" class="block">
    <div class="container">
        <div class="portfolio-head m-auto w-100 text-center">
            <h3 class="mb-4">Our Portfolio</h3>
            <ul class="pl-0">
                <li data-class=".all" class="port-category active">All</li>
                <li data-class=".app" class="port-category">APP</li>
                <li data-class=".card" class="port-category">CARD</li>
                <li data-class=".web" class="port-category">WEB</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="port-item app card position-relative">
                    <img src="./assets/images/portfolio/app1.jpg" class="w-100"/>
                    <div class="layer position-absolute d-flex align-items-center justify-content-center flex-column">
                        <p class="mb-2 text-white">WEB</p>
                        <ul class="list-unstyled">
                            <li class="mr-2">
                                <i class="fas fa-eye"></i>
                            </li>
                            <li>
                                <i class="fas fa-external-link-alt"></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="port-item web card position-relative">
                    <img src="./assets/images/portfolio/web2.jpg" class="w-100"/>
                    <div class="layer position-absolute d-flex align-items-center justify-content-center flex-column">
                        <p class="mb-2 text-white">WEB</p>
                        <ul class="list-unstyled">
                            <li class="mr-2">
                                <i class="fas fa-eye"></i>
                            </li>
                            <li>
                                <i class="fas fa-external-link-alt"></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="port-item app web position-relative">
                    <img src="./assets/images/portfolio/web1.jpg" class="w-100"/>
                    <div class="layer position-absolute d-flex align-items-center justify-content-center flex-column">
                        <p class="mb-2 text-white">WEB</p>
                        <ul class="list-unstyled">
                            <li class="mr-2">
                                <i class="fas fa-eye"></i>
                            </li>
                            <li>
                                <i class="fas fa-external-link-alt"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="port-item card web position-relative">
                    <img src="./assets/images/portfolio/web3.jpg" class="w-100"/>
                    <div class="layer position-absolute d-flex align-items-center justify-content-center flex-column">
                        <p class="mb-2 text-white">WEB</p>
                        <ul class="list-unstyled">
                            <li class="mr-2">
                                <i class="fas fa-eye"></i>
                            </li>
                            <li>
                                <i class="fas fa-external-link-alt"></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="port-item web app position-relative">
                    <img src="./assets/images/portfolio/card2.jpg" class="w-100"/>
                    <div class="layer position-absolute d-flex align-items-center justify-content-center flex-column">
                        <p class="mb-2 text-white">WEB</p>
                        <ul class="list-unstyled">
                            <li class="mr-2">
                                <i class="fas fa-eye"></i>
                            </li>
                            <li>
                                <i class="fas fa-external-link-alt"></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="port-item card app position-relative">
                    <img src="./assets/images/portfolio/card3.jpg" class="w-100"/>
                    <div class="layer position-absolute d-flex align-items-center justify-content-center flex-column">
                        <p class="mb-2 text-white">WEB</p>
                        <ul class="list-unstyled">
                            <li class="mr-2">
                                <i class="fas fa-eye"></i>
                            </li>
                            <li>
                                <i class="fas fa-external-link-alt"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="port-item card app position-relative">
                    <img src="./assets/images/portfolio/app2.jpg" class="w-100"/>
                    <div class="layer position-absolute d-flex align-items-center justify-content-center flex-column">
                        <p class="mb-2 text-white">WEB</p>
                        <ul class="list-unstyled">
                            <li class="mr-2">
                                <i class="fas fa-eye"></i>
                            </li>
                            <li>
                                <i class="fas fa-external-link-alt"></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="port-item card web position-relative">
                    <img src="./assets/images/portfolio/app3.jpg" class="w-100"/>
                    <div class="layer position-absolute d-flex align-items-center justify-content-center flex-column">
                        <p class="mb-2 text-white">WEB</p>
                        <ul class="list-unstyled">
                            <li class="mr-2">
                                <i class="fas fa-eye"></i>
                            </li>
                            <li>
                                <i class="fas fa-external-link-alt"></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="port-item web app position-relative">
                    <img src="./assets/images/portfolio/card1.jpg" class="w-100"/>
                    <div class="layer position-absolute d-flex align-items-center justify-content-center flex-column">
                        <p class="mb-2 text-white">WEB</p>
                        <ul class="list-unstyled">
                            <li class="mr-2">
                                <i class="fas fa-eye"></i>
                            </li>
                            <li>
                                <i class="fas fa-external-link-alt"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="testimonials"  class="my-5">
    <div class="container">
        <div class="testimonials-head mx-auto w-75 text-center my-4">
            <h3>Testimonials</h3>
        </div>
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item testi-item" [ngClass]="{'active': i === 0}" *ngFor="let item of testimonials; let i = index;">
                            <div class="row">
                                <div class="testi-img col-md-3 pr-0">
                                    <img [src]="item.avatar" alt="" class="img-fluid rounded-circle"/>
                                </div>
                                <div class="testi-caption col-md-9 pl-0">
                                    <h4>{{item.first_name + ' ' + item.last_name}}</h4>
                                    <h5 class="text-muted">CEO & Founder</h5>
                                    <p>
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus culpa sunt dignissimos dolorem soluta repudiandae magni quam. Deleniti, illo tempora cumque, in, eum voluptate atque esse quos eos placeat corporis.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ol class="carousel-indicators mt-3 position-relative">
                        <li data-target="#carouselExampleIndicators" *ngFor="let item of testimonials; let i = index;" [attr.data-slide-to]="i" [ngClass]="{'active': i === 0}"></li>
                      </ol>
                  </div>
            </div>
        </div>
    </div>
</section>
<section id="team" class="block my-5">
    <div class="container">
        <div class="team-head mx-auto text-center mb-5">
            <h3>Team</h3>
            <p class="text-muted">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores amet dolores repellendus veniam.</p>
        </div>
        <div class="row">
            <div class="col-md-3">
                <img src="./assets/images/team-1.jpg" class="img-fluid rounded-circle" alt="" />
            </div>
            <div class="col-md-3">
                <img src="./assets/images/team-2.jpg" class="img-fluid rounded-circle" alt="" />
            </div>
            <div class="col-md-3">
                <img src="./assets/images/team-3.jpg" class="img-fluid rounded-circle" alt="" />
            </div>
            <div class="col-md-3">
                <img src="./assets/images/team-4.jpg" class="img-fluid rounded-circle" alt="" />
            </div>
        </div>
    </div>
</section>
<section id="clients" class="my-5 p-5">
    <div class="container">
        <div class="clients-head mx-auto text-center mb-5">
            <h3>Our Clients</h3>
            <p class="text-muted">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores amet dolores repellendus veniam consectetur adipisicing elit.</p>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="img-container">
                    <img src="./assets/images/clients/client-1.png" alt="" class="img-fluid" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="img-container">
                    <img src="./assets/images/clients/client-2.png" alt="" class="img-fluid" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="img-container">
                    <img src="./assets/images/clients/client-3.png" alt="" class="img-fluid" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="img-container">
                    <img src="./assets/images/clients/client-4.png" alt="" class="img-fluid" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="img-container">
                    <img src="./assets/images/clients/client-5.png" alt="" class="img-fluid" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="img-container">
                    <img src="./assets/images/clients/client-6.png" alt="" class="img-fluid" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="img-container">
                    <img src="./assets/images/clients/client-7.png" alt="" class="img-fluid" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="img-container">
                    <img src="./assets/images/clients/client-8.png" alt="" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
</section>
<section id="contact-us" class="block my-5">
    <div class="container-fluid">
        <div class="contact-head mx-auto w-50 text-center mb-4">
            <h3>Contact Us</h3>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2993.6864762013047!2d2.120631115183386!3d41.380895979264785!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a498f576297baf%3A0x44f65330fe1b04b9!2sCamp%20Nou!5e0!3m2!1sen!2seg!4v1581573165481!5m2!1sen!2seg" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12 mb-4">
                        <div class="row">
                            <div class="col-md-4">
                                <i class="fa fa-map-marker-alt"></i>
                                <span class="text-muted">A108 Adam Street, NY 535022</span>
                            </div>
                            <div class="col-md-4 envolp">
                                <i class="far fa-envelope"></i>
                                <span class="text-muted">info@example.com</span>
                            </div>
                            <div class="col-md-4">
                                <i class="fa fa-phone-alt"></i>
                                <span class="text-muted">+1 5589 55488</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <form class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" name="fullName" class="form-control a p-1" placeholder="Your Name"/>
                                </div>
                                <div class="col-md-6">
                                    <input type="email" name="uEmail" class="form-control w-100 p-1" placeholder="Your Email"/>
                                </div>
                                <div class="col-md-12">
                                    <input type="text" name="uSubject" class="form-control w-100 p-1" placeholder="Subject"/>
                                </div>
                                <div class="col-md-12">
                                    <textarea name="uMessage" rows="5" class="form-control w-100 p-1" placeholder="Message"></textarea>
                                </div>
                                <div class="col-md-12 text-center">
                                    <button type="submit" class="btn btn-primary">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="upper-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <h3 class="text-uppercase">Welcome</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis qui corporis ipsam. Recusandae excepturi soluta voluptatum placeat nam vero non neque magnam, voluptas optio repudiandae, quis, magni odio voluptates officia!
                    </p>
                </div>
                <div class="col-md-2 mb-3">
                    <h4 class="text-uppercase">Useful links</h4>
                    <ul class="list-unstyled links">
                        <li class="mb-3">Home</li>
                        <li class="mb-3">About Us</li>
                        <li class="mb-3">Services</li>
                        <li class="mb-3">Terms of Service</li>
                        <li class="mb-3">Privacy Policy</li>
                    </ul>
                </div>
                <div class="col-md-3 mb-3">
                    <h4 class="text-uppercase">Contact Us</h4>
                    <ul class="list-unstyled info">
                        <li class="mb-1">A108 Adam Street</li>
                        <li class="mb-1">New York, NY 535022</li>
                        <li class="mb-1">United States</li>
                        <li class="mb-1"><span>Phone:</span> +1 5589 55488</li>
                        <li class="mb-1"><span>Email:</span> info@example.com</li>
                    </ul>
                    <div class="icons">
                        <ul class="list-unstyled">
                            <li class="d-inline-block mr-2"><i class="fab fa-twitter"></i></li>
                            <li class="d-inline-block mr-2"><i class="fab fa-facebook-f"></i></li>
                            <li class="d-inline-block mr-2"><i class="fab fa-instagram"></i></li>
                            <li class="d-inline-block mr-2"><i class="fab fa-google-plus-g"></i></li>
                            <li class="d-inline-block mr-2"><i class="fab fa-linkedin-in"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 mb-2">
                    <h4 class="text-uppercase">Our Newsletter</h4>
                    <p class="custom-p">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis qui corporis ipsam. Recusandae excepturi soluta voluptatum placeat nam vero non neque magnam, voluptas optio repudiandae, quis, magni odio voluptates officia!
                    </p>
                    <form class="form-inline flex-nowrap">
                        <div class="form-group mb-2">
                        <input type="email" name="uEmail" class="form-control rounded-0">
                        </div>
                        <button type="submit" class="btn btn-primary mb-2  rounded-0">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="lower-footer text-center py-3">
        <p>&copy; Copyright. All Rights Reserved</p>
    </div>
</footer>